.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(238, 237, 237);
    overflow-x: hidden;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom:0px;
   
  
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
   
    width: 150px; 
    height: 150px;
  }
  
  .app-name {
    font-size: 40px;
    font-weight: bold;
    color: rgb(206, 23, 23);
    margin-right: 1050px;
    margin-top: 0px;
    margin-bottom: 10px; 
  
  }
  
  .carte-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  
  .titre {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #877777;
    margin-top: 0;
    
  }
  
  .formulaire {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .form-group {
    margin-bottom: 55px;
  }
  
  label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size:20px;
    margin-top: 10px;
    
  }
  
  input {
    width: 500px;
    height: 75px;
    padding: 20px;
    box-sizing: border-box;
    border: 3.5px solid #877777;
    border-radius: 7px;
    outline: yes;
    font-size: 20px;
    background-color: rgb(244, 242, 241);
  }
  .address-field {
    position: relative;
  }
  
  .address-field input[type="text"] {
    padding-right: 30px; /* Pour laisser de l'espace à droite pour l'icône */
  }
  
  .map-marker-icon {
    position: absolute;
    right: 10px; /* Ajustez la position de l'icône selon vos préférences */
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Couleur de l'icône */
  }
  
  
  
  button {
    background-color: #877777;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #a38983;
  }
  
  .link {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 15px;
    
  
    
  }
  
  