.container_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(238, 237, 237);
    overflow-x: hidden;
    
  }
  
  .header_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom:0px;
   
  
  }
  
  .logo_3 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 120px;
    
  }
  
  .logo_3 img {
   
    width: 100px; 
    height: 80px;
  }
  
  .app-name_3 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(206, 23, 23);
    margin-right: 1050px;
    margin-top: 10px;
    margin-bottom: 10px; 
  
  }
  
  .carte-signin_3 {
    display: flex;
    flex-direction: column;
    align-self:center;
    align-items: center;
    margin-top:50px;
    margin-bottom: 0px;
    margin-left: -10px;
  }
  .titre1{
    font-size:30px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #877777;
  }
  .form-group {
    
    padding: 10px; 
    margin: 30px 0; 
    border-radius: 10px; 
    border: 1px solid #000; 
    width: 700px; 
    margin-left: 23px;
}
.datee label,
  .datee input {
    display: inline-block;
    vertical-align: middle;
  }
  .input-date {
    width: 300px; 
    height: 20px;
    font-size: 15px; 
    margin-left: 5px;
    margin-right: 5px;
  }
  .input-submit {
    width: 100px; 
    height: 20px; 
    font-size: 15px; 
    background-color: #877777;
    color: white;
   
  }
  .champ1 {
    display: flex; 
    flex-direction: row;
   }
  .champ2 {
    display: flex; 
    flex-direction: row;
  }
  .champ3 {
    display: flex; 
    flex-direction: row; 
  }
  .champ4 {
    display: flex; 
    flex-direction: row; 
  }
  .champ5 {
    display: flex; 
    flex-direction: row;
  }
  input[type="text"] {
    border: none; 
    outline: none; 
    margin-left: 100px;
    width: 200px;
    height: 20px;
  }
  label {
    white-space: nowrap;
  }
  .buttonn{
   background-color:#877777
  }

  .fleche_d_2 {
    
    position: relative;
    width: 70px; 
    height: 50px; 
  }
  
  .fd_2 {
    position: fixed;
    bottom: 30px;
    left: 120px;
    width: 60px; 
    height: 50px;
  }
  

 